/* Main container */
.overlay-image {
  position: relative;
}

/* Original image */
.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
}

/* Original text overlay */
.overlay-image .text {
  color: #fff;
  font-family: 'Jost';
  font-size: 300%;
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* New overlay on hover */
.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

/* New overlay appearance on hover */
.overlay-image:hover .hover {
  opacity: 1;
}

.overlay-image .hover {
  background-color: rgba(0,0,0,0.8);
}

.col-sm-12{
  padding-bottom: 2%;
}

.button-area{
  padding: 2% 0;
}

.seperator{
  padding-bottom: 2%;
}
